{% extends 'layout.html' %}
 
{% block body %}
<H3>Content attributions</H3>
<p>Images are from <a href="https://www.flickr.com/creativecommons/">Flickr</a>, in the Creative Commons collection.</p>
<ol>
	<li><a href="https://www.flickr.com/photos/mitho/432185570/in/photolist-Ec4Hm-e7Ciks-rNFtfc-7QwdfZ-e7Ciij-6e2Mx5-7PzMrG-9h8APa-z7fg1-6eFg9g-7QcywZ-6g5rmS-FNeHQ-4suzaW-7P3np5-4xXfU6-7QD9ce-7Qq13X-6eoM96-7NZ9S7">blue_eggs.jpg</a></li>
	<li><a href="https://www.flickr.com/photos/gozalewis/6904998494">nest_eggs.jpg</a></li>
	<li><a href="https://www.flickr.com/photos/vmiramontes/3436471217">egg.jpg</a></li>
	<li><a href="https://www.flickr.com/photos/arndog/5608448797">polka_dot_egg.jpg</a></li>
	<li><a href="https://www.flickr.com/photos/gozalewis/6904950384">pastel_egg.jpg</a></li>
	<li><a href="https://www.flickr.com/photos/janherbert/5647368099/in/photolist-9B3eMv-9C6FV6-a2zMRQ-4YnKb1-9DoRGJ-a2zMn7-bJ1qYF-6eCUb2-bL3Yya-7RevRG-9BsMTL-7QWzmA-hYvawN-nj7kk7-9BsMF1-7R453j-jYFtvX-4Ap75E-bKrKrt-bKrMhZ-edC1uk-bwx5XU-7MyZMm-bwwTXE-bx5tDL-9Bh5bg-9cwR69-4yCPxC-hYva93-6ejWke-edC1qK-rCqnLE-6cdQhY-9CbYLN-bddVvx-6eABLv-6ejWkz-4yCPw5-4AJBKT-6PVs7K-e7aBYp-e7D9e7-4AJBDt-d55qbU-7SbYrM-7RwC2M-nyngx2-9B28Tj-bLU77x-bKGAhx">background-eggs-1.jpg</a> (Some changes made)</li>
</ol>

{% endblock %}
