{% extends 'layout.html' %}
 
{% block body %}
<p>That's it! You should now see a folder <code>Dropbox/Apps/Easter Eggs</code>.
<strong>How to play:</strong></br><br/>Find the egg images in the <code>Yard</code> folder - they could be hiding anywhere!<br/><br/>When you find one, add the image file to your <code>Easter basket</code> folder. When you've found <strong>all five</strong>, come back here and click "Finished!"</p>
<a class="button" href="check_basket">Finished!</a>
{% if notyet %}
<p>Hmmm, doesn't look like you've found them all yet. Keep hunting!</p>
{% endif %}
    <div id="footer">
    	<a href="credits">
    		Credits
    	</a>
    </div>
{% endblock %}
